{% extends 'hospitals/DashLayout.html' %} {% block body %}
<section class="container my-5">
  <div class="row bg-light py-4">
    <h2 class="px-4">Register Patient</h2>
    <form
      class="formd shadow-none my-0 rounded-0"
      action="{% url 'add_patient' %}"
      method="post"
      enctype="multipart/form-data"
      style="width: 100%; padding: 10px"
    >
      {% csrf_token %} {{ patient_form.as_p }}
      {% csrf_token %} {{ user_form.as_p }}
      <input type="submit" value="Submit" />
    </form>
    <div class="col-8 d-flex justify-content-center">
      <a href="{% url 'get_patients' %}" class="text-center bg-body-secondary">Patients List</a>
    </div>
  </div>
</section>
{% endblock %}
