{% extends 'hospitals/DashLayout.html' %} {% block body %}
<div class="container mt-4">
  <div class="row">
    <!-- Hospital Information Widget -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-header">Hospital Information</div>
        <div class="card-body">
          <!-- Display hospital information here -->
          <p>Hospital Name: <b>{{hospital.full_name}}</b></p>
          <p>County: <b>{{hospital.county}}</b></p>
          <p>
            Constituency/City:
            <b>{{hospital.constituency}}/{{hospital.town}}</b>
          </p>
          <!-- Add more hospital info as needed -->
        </div>
      </div>
    </div>

    <!-- Number of Doctors Widget -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-header">
          Number of Doctors
          <p class="py-1 text-success">
            Doctors only registered in {{hospital.full_name}}
          </p>
        </div>
        <div class="card-body">
          <!-- Display number of doctors here -->
          <h1>{{stats.doctors}}</h1>
        </div>
      </div>
    </div>
    <!-- Number of Patients Widget -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-header">
          Number of Patients
          <p class="py-1 text-success">
            Patients across the Centralised Hospital System
          </p>
        </div>
        <div class="card-body">
          <!-- Display number of patients here -->
          <h1>{{stats.patients}}</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Doctors Table -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Doctors
          <a href="{% url 'add_doctor' %}">Add Doctor</a>
        </div>
        <table class="table border h-max">
          <thead class="thead-dark">
            <tr>
              <th class="border p-2">ID</th>
              <th class="border p-2">Name</th>
              <th class="border p-2">Email</th>
              <th class="border p-2">Department</th>
            </tr>
          </thead>
          <tbody>
            {% for doctor in doctors %}
            <tr class="h-max">
              <td class="border p-2">{{ doctor.id }}</td>
              <td class="border p-2">{{ doctor.full_name }}</td>
              <td class="border p-2">{{ doctor.user.email }}</td>
              <td class="border p-2">{{ doctor.department }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
