{% extends 'Layout.html' %}
{% load static %}
{% block body %}

     <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container header-margin" data-aos="fade-up ">

        <div class="section-title">
          <h2>Services</h2>
          <p>Wellcare Hospital is committed to providing a comprehensive range of healthcare services, embracing a holistic approach to patient well-being. From routine check-ups to specialized treatments, the hospital covers a breadth of medical disciplines. Services include but are not limited to:</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">Diagnostic Services</a></h4>
            <p class="description">State-of-the-art diagnostic facilities for accurate and timely assessments, including radiology, pathology, and imaging services.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4 class="title"><a href="">Maternity and Child Health</a></h4>
            <p class="description">Comprehensive care for expectant mothers and specialized services for pediatric health.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4 class="title"><a href="">Specialized Clinics</a></h4>
            <p class="description">Well-equipped to handle specialized medical needs, including cardiology, orthopedics, obstetrics, and more.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4 class="title"><a href="">Surgical Services</a></h4>
            <p class="description">Performing a range of surgical procedures with a focus on precision and patient safety.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="fas fa-wheelchair"></i></div>
            <h4 class="title"><a href="">Primary Care</a></h4>
            <p class="description">Offering routine check-ups, vaccinations, and preventive care to promote overall well-being.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4 class="title"><a href="">Pharmacy Services</a></h4>
            <p class="description">A fully stocked pharmacy offering a wide range of pharmaceuticals, ensuring that prescribed medications are readily available to patients.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock %}